### Node ###
# Logs
logs
*.log
npm-debug.log*
node_modules/
.sass-cache/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Linux ###
*~

### Code ###
# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/

### Webstorm ###
.idea/

### Other ###
.test/
.solution